# https://stackoverflow.com/questions/24297331/whats-recommended-gitignore-for-scala-sbt-project-in-intellij-idea
#target
#*.class
#*.iml
#*.ipr
#*.iws
#.idea
#out

.DS_Store

# https://github.com/playframework/playframework/blob/master/.gitignore

logs
*.iml
target
.idea
.idea_modules
.vscode
RUNNING_PID
generated.keystore
generated.truststore
*.log


# git rm -r -q --cached .