


.DS_Store

# https://github.com/playframework/playframework/blob/master/.gitignore

logs
*.iml
target
.idea
.idea_modules
.vscode
RUNNING_PID
generated.keystore
generated.truststore
*.log


# git rm -r -q --cached .